@mixin button-style($color, $bg)
   text-align: center
   padding: 5px 20px
   margin: 10px 5px
   border: $border
   color: $color
   background: $bg
   transition: $transition 

//fs colos
@mixin font-style( $color, $padding-top, $text-align)
   color: $color
   padding-top: $padding-top
   text-align: $text-align

//fs
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

// grid wrapper for  items
@mixin section-wrapper
   margin-top: $margin-top
   border: $border
   padding: $margin-top 

// item grid wrapper  
@mixin section-wrapper-item
   @include shadow()
   transition: $transition 
   border-radius: $border-radius


//img style
@mixin img-style
   width: 100%
   padding: 10px
   margin: 3px
   overflow: hidden
   background: $white
   border: 1px solid $light-gray
   border-radius: $border-radius
   background-size: cover
   -webkit-box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)
   -moz-box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)
   box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)


//hover img
@mixin img-style-hover
   -webkit-box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)
   -moz-box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)
   box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)

@mixin shadow()
   -webkit-box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)
   -moz-box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)
   box-shadow: 10px 12px 9px -3px rgba(71,61,49,0.22)

@mixin shadow-hover()
   -webkit-box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)
   -moz-box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)
   box-shadow: 10px 12px 9px -3px rgba(0,0,0,0.75)