//colors
$black: #000
$white: #fff

$red: #87041e

//colors
$ivory: #FDFCFA //bg color

$dark-brown: #463C30 //font color
$brown: #473d31
$light-brown: #C5BDB6 //hover color
$violet: #480ca8
$purple: #b5179e
$green: #49a078
$light-gray: #F5F5F5 //block bg
$red: #c1121f
//font sizes
$heading: 26px 
$subheading: 20px 
$body-text: 16px 
$body-text-small: 14px

//fs 1024px md medium
$heading-md: 24px
$subheading-md: 18px 
$body-text-md: 15px 
$body-text-small-md: 13px

//fs 767px sm small
$heading-sm: 20px 
$subheading-sm: 18px 
$body-text-sm: 13px 
$body-text-small-sm: 11px


// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 5px
   

// another elements
$border: 3px solid white
$border-radius: 10px
//transnition
$transition: all 1s ease-out
