//acount
@use '../abstracts/variables' as *

.account
   &__wrapper
   &__nav
      display: flex
      align-items: center
      flex-direction: column
      button
         margin-left: 20px
   &__nav--img
      width: 300px
      svg
         fill: $color-accent
   &__nav--buttons
      display: flex