@use '../abstracts/mixins' as *
@use '../abstracts/variables' as *
.cart
   &__wrapper
      
   &__heading
   &__heading-empty
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
   &__heading-img
      @include img-style
      width: 300px
      height: 300px
      transition: $transition
      img
         width: 100%
   &__empty
      text-align: center
      a
         text-decoration: underline
      a:hover
         color: $color-accent-hover
