@use '../abstracts/mixins' as *
@use '../abstracts/variables' as *

.product // product page :id
   &__wrapper
   &__item
      margin-top: 20px
   &__layout //top blocks
      display: grid
      grid-template-columns:  repeat(3, 1fr)
      gap: 10px
      @media (max-width: 1023px) and (min-width: 768px)  
         grid-template-columns:  repeat(2, 1fr)
         .product__details
            grid-column: 1 / span 2
            grid-row: 1  
         .product__media
            grid-column: 1 
            grid-row: 2
         .product__info
            grid-column: 2
            grid-row: 2
      @media (max-width: 767px) 
         grid-template-columns:1fr
         .product__details, .product__media, .product__info
         grid-column: auto
         grid-row: auto
  
   &__details //brand name product type
 
   &__brand
   &__name
      display: flex
      align-items: center
      justify-content: space-between
      a
         svg
            margin-top: 20px
   &__type
   &__media //product img
      position: relative
      justify-self: center  
      margin: 0px 10px
   &__img
      @include img-style
      transition: $transition
      img
         aspect-ratio: 1 / 1
         object-fit: contain
         width: 100%
   &__img:hover
      @include img-style-hover
   &__favorite 
      position: absolute
      top: 8px
      right: 8px
      background: transparent
      cursor: pointer
      color: $color-text-secondary
   &__favorite.active
      color: $color-red
   &__info //price colors
      text-align: center

   &__price
      display: flex
      justify-content: space-between
      p
         text-align: center

   &__color-list
      height: 200px
      overflow: scroll
   &__color-option
      display: block
      border: 1px solid $color-white
      width: 100%
      padding: 10px
      margin-top: 3px
      border-radius: $border-radius
      span
         background: $color-bg-base
         padding: 3px
   &__color-option:hover,  
      &__color-option:focus-visible
      border: 1px solid red
   &__color-preview
      cursor: pointer
      border: 1px solid red
   &__color-preview:hover
      border: 1px solid red
   &__bottom
      display: inline
      margin-right: 10px

@media (max-width: 767px)
   .product
      &__top 
         flex-direction: column
      &__content, &__images, &__info
         width: 100%
      &__images
         padding-right: 0px

 

#selected-color
   margin-top: 10px
   height: 40px
   width: 100%
   option
      width: 100%
      height: 40px


.option-color
   width: 50px
   height: 50px

.color
   margin-top: 10px
   height: 300px
   width: 100%
   overflow: scroll
   &__wrapper
   &__item
      width: 100%
      height: 50px
   &__text
      padding-top: 17px
      text-align: center
      color: $color-white


 