.heading
   @include font-style($heading, $margin-sm, center, $brown)

.subheading
   @include font-style($subheading, $margin-sm, center, $brown)

.body-text
   @include font-style($body-text, $margin-sm, center, $brown)



@media (max-width: 767px)
   .heading
      @include font-style($heading-sm, $margin-sm, center, $brown)

   .subheading
      @include font-style($subheading-sm, $margin-sm, center,$brown)

   .body-text
      @include font-style($body-text-sm, $margin-sm, center, $brown)

a 
   color: $white

a:hover
   text-decoration: underline
