:root 
  --admin-bg-base: #0E1117
  --admin-bg-muted: #1A2639
  --admin-text: #f5f5f5
  --admin-accent: #0095FF


.admin-dark 
  --admin-bg-base: #0E1117
  --admin-bg-muted: #1A2639
  --admin-text: #f5f5f5
  --admin-accent: #0095FF


.admin-light 
  --admin-bg-base: #D8D6E8
  --admin-bg-muted:#F4F4F4
  --admin-text: #1A2639
  --admin-accent: #0095FF




.theme-toggle 
  background: none
  border: none
  font-size: 1.6rem
  cursor: pointer
  svg 
    fill:  var( --admin-accent)

.admin-theme
   background: var(--admin-bg-base)


