:root 
  --admin-bg-base: #0E1117
  --admin-bg-muted: #1A2639
  --admin-text: #f5f5f5
  --admin-accent: #0095FF
  --admin-hover: #6f1d17fd


.admin-dark 
  --admin-bg-base: #0E1117
  --admin-bg-muted: #1A2639
  --admin-text: #f5f5f5
  --admin-accent: #0095FF
  --admin-hover:  #223451

.admin-light 
  --admin-bg-base: #D8D6E8
  --admin-bg-muted:#F4F4F4
  --admin-text: #1A2639
  --admin-accent: #0095FF
  --admin-hover: #d9e6ef



.theme-toggle 
  background: none
  border: none
  font-size: 1.6rem
  cursor: pointer
  svg 
    fill:  var( --admin-accent)

.admin-theme
   background: var(--admin-bg-base)


.admin-svg-button
   svg
      fill: var(--admin-accent)
      height: 25px
      width: 25px

//varianles
$admin-red:#e51f1f
$admin-green: #44ce1b