// components
@use '../admin/_admin-mixins' as * 

// .admin-stats
.admin-stats
   display: flex
   justify-content: space-between
   margin-top: 50px


.admin-stat-card
   @include block-style()
   width: 100%
   display: flex
   align-items: center
   justify-content: space-between
   flex-direction: column
   &__icon
      svg
         fill: var(--admin-accent)
         width: 50px
         height: 50px
   &__content
      p
         text-align: center

// .admin-analytics
.admin-analytics
   display: grid
   grid-template-columns: 1fr 3fr 2fr
   gap: 20px
   align-items: stretch
   width: 100%
   height: 450px


.admin-chart
   @include block-style()
   display: flex
   justify-content: space-between
   flex-direction: column
   background: var(--admin-bg-muted)
   width: 100%
   overflow: hidden
   &__canvas
      width: 100% !important

@media (max-width: 768px)
   .admin-analytics
      grid-template-columns: 1fr 2fr
      min-height: 600px
   .admin-chart:last-child
      grid-column: span 2

@media (max-width: 500px)
   .admin-analytics
      grid-template-columns: 1fr  
   .admin-chart
      min-height: 500px 
   .admin-chart:last-child
      grid-column: span 1
