// components
@use '../admin/_admin-mixins' as * 

.admin-top
   display: grid
   grid-template-columns: 2fr 1fr
   gap: 5px

//admin to do
.admin-todos
   @include block-style()
   gap: 5px
   height: 450px
   overflow: scroll

.admin-todo
   &__head
      @include flex-center()
      margin-bottom: 15px
   &__meta
   &__add
      @include flex-center()    
   &__list
   &__item
      @include flex-center()

// .admin-stats
.admin-stats
   display: grid
   grid-template-columns: 1fr 1fr
   gap: 0px 5px


.admin-stat-card
   @include block-style()
   width: 100%
   display: flex
   align-items: center
   justify-content: center
   flex-direction: column
   // aspect-ratio: 1 / 1
   margin-right: 10px
   padding:10px !important
   &__icon
      svg
         fill: var(--admin-accent)
         width:50px
         height: 50px
   &__content
      p
         text-align: center
         padding: 4px
         line-height: 15px
         margin: 0

@media (max-width: 1200px)
   .admin-todos
      height: 350px

@media (max-width:700px)
   .admin-top
      grid-template-columns: 1fr
      gap: 5px
   .admin-todos
      height: 350px
   .admin-stats
      grid-template-columns: 1fr 1fr 1fr 1fr
   .admin-stat-card
      aspect-ratio: 1 / 1
      &__icon
         svg
            width:30px
            height: 30px

@media (max-width:515px)
   .admin-stats
      grid-template-columns: 1fr 1fr 
   .admin-stat-card
      aspect-ratio: auto

// .admin-analytics
.admin-analytics
   display: grid
   grid-template-columns: 1fr 3fr 2fr
   gap: 5px
   align-items: stretch
   width: 100%
   height: 500px



.admin-chart
   @include block-style()
   display: flex
   justify-content: space-between
   flex-direction: column
   background: var(--admin-bg-muted)
   width: 100%
   overflow: hidden
   &__canvas
      width: 100% !important

@media (max-width: 768px)
   .admin-analytics
      grid-template-columns: 1fr 2fr
      height: 1000px
   .admin-chart
      height: 470px
   .admin-chart:last-child
      grid-column: span 2

@media (max-width: 500px)
   .admin-analytics
      grid-template-columns: 1fr  
      height: 1000px
   .admin-chart
      height: 300px 
   .admin-chart:last-child
      grid-column: span 1


// admin-recent-products
.admin-recent
    @include block-style()
    width: 100%
    &__table
      width: 100%
      overflow: scroll
      border-collapse: collapse
      td, th
         border-bottom: 1px solid var(--admin-accent)

@media (max-width: 626px)
   .admin-recent
      overflow: scroll
      &__table
         min-width: 630px

