//admin table
@use '../admin/_admin-mixins' as * 

//wrapper
.admin-products
   @include block-style()
   width: 100%

//admin table
.admin-table
   &__img
      width: 50px
      img
         width: 100%