.header
   background: $ivory
   &__top
      display: flex
      flex-direction: row
   &__link
      display: inline-block
      cursor: pointer
      color: $black
      background: $light-gray
      padding: 10px 20px
      margin-left: 20px
   &__bottom
      position: absolute
      left: 0
      top: 100%
      padding-top: 50px


.dropdown
   position: relative

.dropdown:hover + .header__bottom
   display: block
   background: #fff