.brand
   &__wrapper
   &__items
      display: grid
      grid-template-columns: repeat(3, 1fr)
      gap: 15px
   &__item
      background:$light-gray
      transition: $transition
      padding: 10px 20px
      a
         display: block
         cursor: pointer
   &__item:hover
      background: $light-brown
 
@media (max-width: 1024px)
   .brand
      &__wrapper
      &__items
         grid-template-columns: repeat(3, 1fr)x
 

@media (max-width: 767px)
   .brand
      &__wrapper
      &__items
         grid-template-columns: repeat(2, 1fr)
   

@media (max-width: 490px)
   .brand
      &__wrapper
      &__items
         grid-template-columns: repeat(1, 1fr)