@use '../abstracts/mixins' as * 
@use '../abstracts/variables' as *

.button
   @include button-style($color-white, $color-text-secondary)

.counter-button
   display: flex
   align-items: center
   justify-content: space-between
   position: relative
   background: #b99976ff
   transition: $transition
   width: 30px
   height: 30px
   border-radius: 50%
   cursor: pointer
   &:hover
      background: $color-accent
   svg
      width: 20px
      height: 20px
      fill: $color-white

.edit 
   svg
      transition: $transition 
      fill: $color-green

.delete 
   svg
      transition: $transition 
      fill: $color-red
      width: 30px
      height: 30px
   
.edit svg:hover, .delete svg:hover
   fill: $color-black

.button:hover
   @include button-style($color-text-secondary, #fff)

.button:active
   @include button-style($color-black, #fff)

// TraverseHistory button 
.button-svg
   background:$color-text-secondary
   border-radius: 50%
   height: 30px
   width: 30px
   position: relative
   margin-right: 5px
   svg
      fill: $color-white
      position: absolute
      top: 2px
      left: 8px

.button-svg:hover
   background: #000
   svg
      fill: $color-white


.custom-button
   transition: $transition 
   @include button-style($color-white, $color-accent-hover)

.custom-button:hover
   @include button-style($color-white, $color-accent)

.custom-button:active
   @include button-style($color-accent-hover, $color-bg-base)

.custom-button.disabled
   background: #ccc
   cursor: not-allowed


.load-more
   background: $color-bg-base
   border: 1px solid $color-bg-base
   transition: $transition 
   width: 100%
   height: 100%
   svg
      width: 100%
      height: 100%
      fill: $color-text-secondary