@use '../abstracts/mixins' as *  
@use '../abstracts/variables' as *

.form
   &__wrapper
      @include section-wrapper

.custom
   max-width: 800px
   &__form
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
   &__form--item
      margin-top: $margin-top
      label
         width: 100%
         display: block
         margin: 16px 0px
      input::placeholder
         font-size: 16px
         color: $white
         width: 100%

input,
textarea, select
   border: 1px solid $brown
   @include input()
   @include transition()

input::placeholder
   color: $black

input:focus
   border: 1px solid $gold
