@use './variables' as *

@mixin button-style($color, $bg)
   text-align: center
   padding: 5px 20px
   margin: 10px 5px
   font-size: $body-text-small
   border: $border
   color: $color
   background: $bg
   transition: $transition

//fs colos
@mixin font-style( $color, $padding-top, $text-align)
   color: $color
   padding-top: $padding-top
   text-align: $text-align

//fs
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

// grid wrapper for  items
@mixin section-wrapper
   margin-top: $margin-top
   border: $border
   padding: $margin-top

// item grid wrapper  
@mixin section-wrapper-item
   @include shadow()
   transition: $transition
   border-radius: $border-radius

// === Shadow === //
@mixin shadow()
   -webkit-box-shadow: $shadow
   -moz-box-shadow: $shadow
   box-shadow: $shadow

@mixin shadow-hover()
   -webkit-box-shadow: $shadow-hover
   -moz-box-shadow: $shadow-hover
   box-shadow: $shadow-hover


//img style
@mixin img-style
   width: 100%
   height: auto
   padding: 10px
   margin: 3px
   overflow: hidden
   background: $color-white
   border-radius: $border-radius
   object-fit: cover
   display: block
   background-size: contain
   @include shadow()
   @include transition() 
   

//hover img
@mixin img-style-hover
   @include shadow-hover()
   

// input
@mixin input()
   display: block
   padding: 5px
   margin: 5px 0px
   width: 100%
   background: $color-white
   color: $color-text-secondary
   font-size: $body-text-sm

   ///import css-variables from 
@mixin transition() 
   transition-duration: 0.9s
   transition-timing-function: ease

   