.item
   &__wrapper
   &__item
      display: flex
      flex-direction: column
      align-items: center
      border: 1px solid $white
      padding: $margin-sm
   &__item:hover
      @include section-wrapper-item
   &__img
      @include img-style
      height: 300px
      img
         width: 100%
