.item
   &__wrapper
   &__container
      display: flex
      flex-direction: column
      border: 2px solid $white
      padding: $margin-sm
      a:hover
         color: $violet
   &__container:hover
      @include section-wrapper-item
   // item data
   &__data
      flex: 1 0 auto
   // item data img
   &__img
      @include img-style
      height: 300px
      img
         width: 100%
   // item data info
   &__info
      margin-top: 20px

   &__info-name
      height: 80px
      overflow: hidden
   &__info-description
      p
         text-transform: uppercase
      a, p
         padding-top: 4px
         line-height: 10px
   &__info-price
   &__txt
      
   // item button 
   &__button
      width: 100%
      flex: 0 0 auto
      button
         min-width: 100%
         @include button-style($white, $black)
      button:hover
         @include button-style($white, $violet)

// small devices
@media (max-width: 767px)
   .item
      &__img
      height: 300px
      &__info-name
         height: 60px