.item
   &__wrapper
   &__item
      display: flex
      flex-direction: column
      border: 1px solid $white
      padding: $margin-sm
   &__item:hover
      @include section-wrapper-item
   &__img
      @include img-style
      img
         width: 100%
   &__data
      flex: 1 0 auto
   &__txt-info
      display: flex
      width: 100%
      a:hover
         color: $violet
   &__info
      width: 100%
   &__button
      width: 100%
      flex: 0 0 auto
      button
         min-width: 100%
         @include button-style($white, $black)
      button:hover
         @include button-style($white, $violet)